#calcContainer{
    margin-top: 5%;
    margin-right: 10%;
}

#resultsTable{
    width: 100%;
}

#vocations{
    margin-left: 10px;
    width: 10%;
    height: 45px;
}

#level{
    min-width: 10%;
    width: 10%;
    height: 45px;
}

#promotion{
    width: 8%;
    margin-left: 10px;
    height: 45px;
    line-height: 22px;
}

#chkPromotion{
    width: 15px;
    height: 15px;
    margin-top: 10%;
}

.form-check{
    padding-top: 5px;
    padding-left: 0;
}

