#calcContainer{
    margin-top: 2%;
}

#resultsTable{
    width: 50%;
}

#vocations{
    margin-left: 10px;
    width: 10%;
    height: 45px;
}

#level{
    width: 20%;
    height: 45px;
}

#promotion{
    margin-left: 10px;
    height: 45px;
    line-height: 22px;
}

#chkPromotion{
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.form-check{
    padding-top: 5px;
    padding-left: 0;
}

.form-row input{
    height: 50px;
}

.form-row{
    height: 82px;
}
